/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a39a76e993f1105c61ce.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4eb1389b0979ae6f4ddb.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-80c2f1d58c28b4364767.json
/cmake-build-debug/CMakeFiles/Progetto_Programmazione.dir/src/Engine.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/index-2024-10-17T10-47-28-0527.json
/cmake-build-debug/CMakeFiles/Progetto_Programmazione.dir/main.cpp.obj
/cmake-build-debug/Progetto_Programmazione.exe
/cmake-build-debug/.cmake/api/v1/reply/target-Progetto_Programmazione-Debug-8fb4af0cd73432f782c1.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5de82fbbd95f37aef0d3.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-10-17T11-14-29-0220.json
/cmake-build-debug/.cmake/api/v1/reply/target-Progetto_Programmazione-Debug-9cf3d8a9d210563c0170.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/Testing/Temporary/LastTest.log

.idea/
cmake-build-*/
*.iml

# File generati dalla compilazione
*.o
*.so
*.a
*.out
*.log
*~


# File specifici del sistema operativo
.DS_Store
Thumbs.db!/test/
/cmake-build-debug/

